<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>{% block title %}Comparte Tu Coche - Bienvenido a la plataforma de compartir coche{% endblock %}</title>
    
    {% block css %}
        <!-- Bootstrap core CSS -->
        <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="assets/css/style.css" rel="stylesheet">
    
        <!-- styles needed for carousel slider -->
        <link href="assets/css/owl.carousel.css" rel="stylesheet">
        <link href="assets/css/owl.theme.css" rel="stylesheet">
    {% endblock %}

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->

    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="assets/js/pace.min.js"></script>
</head>

<body>
<div id="wrapper">
    {% block cabecera %}
        <div class="header">
            <nav class="navbar   navbar-site navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar">
                            </span>
                        </button>
                        <a href="#" class="navbar-brand logo logo-title">
                            <!-- Original Logo will be placed here  -->
                            <span class="logo-icon">
                                <i class="icon icon-search-1 ln-shadow-logo shape-0"></i>
                            </span>
                            COMPARTE
                            <span>
                                 TU COCHE
                            </span>
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {% set usuarioLogueado = null %}
                                
                                {% if usuarioLogueado == null %}
                                <a href="#">
                                    <button type="button" class="btn btn-primary">Login con Facebook</button>
                                </a>
                                {% else %}
                                    {{ usuarioLogueado.nombre }}
                                    <a href="#">Desconectar</a>
                                {% endif %}
                            </li>
                            {% if usuarioLogueado != null %}
                            <li>
                                <a href="#">
                                    <button type="button" class="btn btn-default">Publica un trayecto</button>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
        <!-- /.header -->
    {% endblock %}
    
        
    {% block contenido %}
        Rellena este bloque
    {% endblock %}
    
        
    <div class="footer" id="footer">
        <div class="container">
            <ul class=" pull-right navbar-link footer-nav">
                <li> &copy; 2016 - development by Sopinet Software</li>
            </ul>
        </div>
    </div>
    <!-- /.footer -->
</div>
<!-- /.wrapper -->

{% block js %}
<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<!-- include carousel slider plugin  -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- include form-validation plugin || add this script where you need validation   -->
<script src="assets/js/form-validation.js"></script>


<!-- include equal height plugin  -->
<script src="assets/js/jquery.matchHeight-min.js"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="assets/js/hideMaxListItem.js"></script>

<!-- include jquery.fs plugin for custom scroller and selecter  -->
<script src="assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
<script src="assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
<!-- include custom script for site  -->
<script src="assets/js/script.js"></script>
{% endblock %}
</body>
</html>