<div class="intro" style="background-image: url(images/bg3.jpg);">
    <div class="dtable hw100">
        <div class="dtable-cell hw100">
            <div class="container text-center">
                <h1 class="intro-title animated fadeInDown"> Busca trayectos que compartir </h1>

                <p class="sub animateme fittext3 animated fadeIn"> Ahorra combustible y haz amigos en la plataforma de Comparte Tu Coche </p>

                <form name="search" action="{{ link_list }}" method="GET">
                    <input type="hidden" name="page" value="list"/>
                    <div class="row search-row animated fadeInUp">
                        <div class="col-lg-6 col-sm-6 search-col relative locationicon">
                            <i class="icon-location-2 icon-append"></i>
                            <input type="text" name="country" id="autocomplete-ajax"
                                   class="form-control locinput input-rel searchtag-input has-icon"
                                   placeholder="Ciudad..." value="">

                        </div>
                        <div class="col-lg-6 col-sm-6 search-col">
                            <button type="submit" class="btn btn-primary btn-search btn-block">
                                <i class="icon-search"></i>
                                <strong>Buscar</strong>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- /.intro -->