<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 page-content col-thin-right">
                <div class="inner-box category-content">
                    <h2 class="title-2">Una oportunidad para AHORRAR </h2>
                    <p>A través del sistema de Compartir tu coche podrás ahorrar un dinero en cada trayecto, ya sea siendo conductor o acompañante.</p>
                    
                    <h2 class="title-2">Una oportunidad para DISFRUTAR </h2>
                    <p>Además, al compartir tu coche con desconocidos, tendrás un viaje más entretenido y será una estupenda oportunidad para conocer gente.</p>
                    
                    <h2 class="title-2">Una oportunidad para DESCANSAR </h2>
                    <p>Con la opción "No quiero conducir", podrás prestar tu vehículo al acompañante, de manera que te ahorrarás tener que llevar el coche durante el trayecto.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.main-container -->