<div class="page-bottom-info">
    <div class="page-bottom-info-inner">

        <div class="page-bottom-info-content text-center">
            <h1>Si tienes alguna duda, nos puedes llamar a nuestro CallCenter, situado en Córdoba: 957290057</h1>
            <a class="btn  btn-lg btn-primary-dark" href="tel:+957290057">
                <i class="icon-mobile"></i> <span class="hide-xs color50">Llámanos:</span> 957290057 </a>
        </div>

    </div>
</div>